body{
	margin: 0;
	font-family: arial, sans-serif;
	font-weight: bold;
	padding: 0;
}
header{
	border: 2px solid darkgray;
	background-color: lightgray;
	color: white;
	height: 200px;
	width: 25%;
	float: left;
	margin-bottom: 20px;
}
nav{
	width: 70%;
	float: right;
}
.B1, .B2, .B3, .B4{
	border: 2px solid darkgray;
	background-color: lightgray;
	color: white;
	height: 50px;
	width: 20%;
	float: left;
}
.B1, .B2, .B3{
	margin-right: 20px;
}
.main {
	border: 2px solid darkgray;
	background-color: lightgray;
	color: white;
	height: 400px;
	clear: both;
	margin-bottom: 20px;
}
.A, .B, .C{
	border: 2px solid darkgray;
	background-color: lightgray;
	color: white;
	height: 200px;
	width: 31.2%;
	float: left;
	margin-bottom: 20px;
}
.A, .B{
	margin-right: 40px;
}
footer{	
	border: 2px solid darkgray;
	background-color: lightgray;
	height: 200px;
	color: white;
	clear: both;
}