
body{
	font-family: arial, sans-serif;
	width: 100%;
	margin: 0;
}
h1{
	font-weight: bold;
}
header, div, footer{
	background-color: lightgray;
	color: white;
	border: 2px solid darkgray;
	margin: 10px;
	height: 100px;
	padding: 20px;
	text-align: center;
}
.One, .Two{
	float: left;
	height: 400px;
	width: 45.5%;
}
.A {
	float: left;
	clear: left;
	height: 200px;
	width: 28.75%;
	margin-bottom: 10px;
}
.B, .C {
	float: left;
	height: 200px;
	width: 28.75%;
	margin-bottom: 10px;
}
footer{
	clear: both;
}