body{
	font-family: arial, sans-serif;
	margin: 0;
}
h1{
	font-weight: bold;
}
header, div, footer{
	background-color: lightgray;
	color: white;
	border: 2px solid darkgray;
	height: 100px;
	padding: 20px;
	text-align: center;
}
header{
	margin-bottom: 20px;
}
.One{
	width: 20%;
	height: 300px;
	float: left;
	margin-right: 25px;
}
.Two{
	width: 46.5%;
	height: 300px;
	float: left;
	margin-right: 25px;
}
.Three{
	width: 20%;
	height: 300px;
	float: left;
}
footer{
	clear: both;
	margin-top: 20px;
}