html * {
	box-sizing: border-box;
	margin: 0;
}
header {
	background-color: #ff8787;
	border: 7px solid red;
}

#main {
	width: 60%;
	background-color: #fffba9;
	border: 7px solid yellow;
	float: left;
}

aside {
	width: 40%;
	background-color: #8ed89e;
	border: 7px solid green;
	float: right;
}

footer {
	background-color: #a8b1f6;
	border: 7px solid blue;
	clear: both;
}

.placeholder {
	height: 100px;
	padding: 10px 10px 70px 10px;
	border: 1px solid black;
}
